[2015-09-24 21:07] madsflensted opened #1 "Elm Copenhagen October 2015 Meet Up"
Elm Copenhagen October 2015 Meet Up

**Date and time**: October 28.
**Location**:

Proposed schedule:
18.00 - 19.00 : Newcomers hands-on intro to Elm (@madsflensted)
19.00 - 20.45 : We team up and work on a given problem and end by sharing and discussing our solutions (group activity)
20.45 - 21.00 : Lightening demos

---

We need to find and decide upon:
- [x] a venue
- [x] a date
- [x] a time
-

[2015-09-24 21:11] madsflensted commented on #1
Based on our experience at the last Elixir meetup, cphex/cphex/issues/28, I suggest that we start off with the [Yatzy](https://en.wikipedia.org/wiki/Yatzy) theme, there should be plenty of areas that would make some good material for Elm challenges.

[2015-09-24 21:15] madsflensted commented on #1
I am suggesting October 27 or 28.

[2015-09-24 21:21] madsflensted commented on #1
@gausby, @lehoff, @jacobat,  @malthejorgensen, @emilbayes, @valberg, @skovsgaard  The Elm Copenhagen Meetup group is now a reality. Spread the word, and join in the planning.

The Meetup.com group is here: http://www.meetup.com/Elm-Copenhagen

[2015-09-24 21:46] lehoff opened #2 "Change the About Us on Meetup to reference elmcph instead of cphex"

[2015-09-24 21:52] madsflensted commented on #2
Thanks - updated

[2015-09-24 21:52] #2 closed, assigned to nobody

[2015-09-25 13:52] jacobat commented on #1
Oct. 27 does not work for me. If we can do october 28 Zendesk will be happy to host.

[2015-09-25 13:55] madsflensted commented on #1
@jacobat that sounds like a great argument for choosing the 28th !

Thank you for offering a location. I will update the issue.
On Sep 25, 2015 15:52, "Jacob Atzen" notifications@github.com wrote:

[2015-09-25 20:47] madsflensted commented on #1
@jacobat what is address for your offices?

[2015-09-26 06:50] jacobat commented on #1
We're at Snaregade 12, 1st floor.

https://www.google.dk/maps/place/Snaregade+12,+1205+K%C3%B8benhavn+K/@55.6769883,12.5763207,17z/data=!3m1!4b1!4m2!3m1!1s0x4652531141140fcd:0x5af1c8ff9aea8061?hl=da

[2015-09-27 17:34] jacobat commented on #1
I ported the Yatzy exercises from Cphex to Elm in case we want to use those: https://github.com/jacobat/elm-yatzy

[2015-09-28 06:38] lehoff commented on #1
@jacobat: that is a very good starting point! Awesome!!

I wasn't at the Elixir event (sadly), but presenting this we need to
emphasise that the tests do not cover all aspects of the rules and part of
the coding is to ensure that the tests cover more devious cases like, say,
you have three of a kind, but want to use the score as one of a kind. Or
use a full house as two pairs.

And the nifty patte

[2015-09-28 11:36] cyberglot commented on #1
:+1:

[2015-09-28 19:54] madsflensted commented on #1
@jacobat good idea porting the test code.

[2015-09-28 20:40] jacobat commented on #1
I don't know how idiomatic the code is. Feel free to improve upon it if you see something that could be better.

[2015-10-05 10:59] jacobat commented on #1
@madsflensted Can I get you to limit the number of attendees to 30 in Meetup? We can't accomodate more than that unfortunately.

[2015-10-05 14:39] madsflensted commented on #1
Was thinking the same. As we need room to work,  should the number be
lower?
On Oct 5, 2015 12:59, "Jacob Atzen" notifications@github.com wrote:

[2015-10-05 14:42] madsflensted commented on #1
I have set limit to 25 for now
On Oct 5, 2015 16:38, mads@flensted-urech.dk wrote:

[2015-10-05 18:22] jacobat commented on #1
There is sufficient space to hold 30 people.

[2015-10-05 18:34] madsflensted commented on #1
Ok - have raised the limit to 30

On Mon, Oct 5, 2015 at 8:22 PM, Jacob Atzen notifications@github.com
wrote:

[2015-10-07 19:17] madsflensted commented on #1
29 - reserved a non-meetup spot for @keleshev

[2015-10-07 19:21] keleshev commented on #1
Thanks @madsflensted. I would also love if you could find a 5-minute time slot for a lightning talk where I could present my half-baked Elm game: https://github.com/keleshev/TankYou.

[2015-10-07 19:23] madsflensted commented on #1
Great idea. Will add some time at the end for demos.

My plan is to send out a quick/short poll to figure out where people attending are with Elm.

[2015-10-13 20:01] madsflensted commented on #1
@jacobat I am working on a mini-survey I want to send out before our first meetup, could I get you to [test it](https://docs.google.com/forms/d/1_QldT91-MtDp0P1C-ymlwGwrlvMFMcVcmHw2EgxZ8jM/viewform) out? And give some feedback (on the content) :-)

[2015-10-14 10:24] malthejorgensen commented on #1
@madsflensted I tried out the survey just now – looks fine! :)

[2015-10-14 12:09] jacobat commented on #1
@madsflensted It would make it easier for me to provide feedback if you could you say a bit about what the purpose is and what you're hoping to get out of it?

[2015-10-14 12:30] madsflensted commented on #1
@jacobat I guess was just curious as to where people are with Elm. But for now just check that
- survey works for somebody other than me
- no obvious mistakes
- is there something else that would be worth asking

@malthejorgensen thanks

[2015-10-14 14:15] jacobat commented on #1
One thing I notice is that it says "Andet" and not "Other" and the Google disclaimer and stuff is in Danish as well. Probably because I'm somehow configured as Danish?

Another nit-picky thing is the wording "What OS do (plan to) use for you elm adventures?" which I believe should be "What OS do you (plan to) use for your elm adventures?".

Apart from that it looks just fine. I think it's a nice i

[2015-10-14 14:37] madsflensted commented on #1
@jacobat thank you! Wording updated for OS question.
The danish/english seems to be one those "smart things" where browser detects your language :-(

[2015-10-14 15:20] madsflensted commented on #1
(Copy of messages sent to meetup members)
Hi Elm Copenhagen!

October is here and our first meetup is only 2 weeks away. I am really looking forward to meeting people and digging into elm together.

To give us all an initial idea of our collective elm background I have put together a very short survey, and it would be great if you could take a minute to submit your feedback. You can find the form

[2015-10-14 18:12] madsflensted commented on #1
@keleshev above is for you

[2015-10-15 10:32] jacobat commented on #1
I've had fun playing with https://github.com/pdamoc/elmChallenges - perhaps an option for more advanced elm learning.

[2015-10-15 22:00] madsflensted commented on #1
Great, let's see what we can gather. Maybe there are also some general coding challenges we can use. Will look around.

I worked through the [yatzy scorer challenge](https://github.com/jacobat/elm-yatzy) that @jacobat ported to Elm. And it is actually still interesting the 2nd time around, and a good fit for core Elm code. I think it would make a good candidate for 1st meetup.

[2015-10-15 22:01] madsflensted opened #3 "Logo for our Github account"
If anybody is good with designing stuff - mayby you could take a stab at a logo for our group? Something with a leaf or a tree comes to mind, but I am just not good at those things.

[2015-10-18 14:09] madsflensted commented on #1
I can see  @justalisteningman is working on creating an [Elm language track](https://github.com/justalisteningman/xelm)  for http://exercism.io

That will be a great learning resource as well. Maybe we can contribute with some testing?

[2015-10-19 03:36] bewatts commented on #1
Hello, Copenhagen Elmers / Elmites / Elm enthusiasts!

Contributions / PR's are more than welcome!

Here are ways people can help:
-- Look to the [haskell language track](https://github.com/exercism/xhaskell), see what tests haven't been implemented, and are appropriate for elm.
-- Getting it to run on Travis would be a godsend.
--  Updating the docs to be more helpful!
-- Make the example code be

[2015-10-19 17:47] madsflensted commented on #1
@justalisteningman I think it is great that you are working on this! I will make sure to promote the project at our next meetup, and see if we can get somebody to help out.

[2015-10-25 22:44] madsflensted commented on #1
Email gone out to meetup rsvp's:

Hi Elm'ers

our first Meetup is now only a few days away, there is a full house and we hope that everybody can still make it.

Our generous host is sponsoring Pizza and beverages, so we will be all set for an evening of elm!

Also it is a good time to check that your elm installation is up to date. We will be working with the Elm Platfom 0.15.1. There are ﻿install

[2015-10-28 16:44] madsflensted commented on #1
http://madsflensted.github.io/connect-four/

[2015-10-28 16:45] skovsgaard commented on #1
Sorry to be this late about it, but I'm not gonna make it tonight.

[2015-10-28 16:49] madsflensted commented on #1
@skovsgaard too bad - missing out on elm AND pizza - tough one!

[2015-10-28 20:16] d99m commented on #1
I wish I followed the #ElmLang twitter tag earlier to find out about this meet up! Hopefully next time!

[2015-10-28 20:26] naxoc commented on #1
I work at Dagbladet Information located in Kongens Nytorv. We have plenty of space for meetups, so if we need a location in the future we can do a meetup there.

[2015-10-28 21:45] gausby commented on #1
Hey

Nice meet up. I have one critique though; In the opening example I would have preferred something visual. Something I could interact with; so if it could start out with an example that went from the view to the model, instead of the model to the view, it would have been preferable.

Otherwise, great meet up. The yatzy task was fun. Great food. Great people. See you at the next meet up.

(…and

[2015-10-28 22:26] madsflensted commented on #1
@gausby I think that is a great idea, will see how that can influence the next intro session.

If anybody else has feedback - don't hold back.

(... and the the link to the [Elixir Meetup](https://github.com/cphex/cphex/issues/32) )

[2015-10-28 22:31] madsflensted opened #4 "Elm Copenhagen November 2015 Meetup"
Elm Copenhagen November 2015 Meetup

**Date and time**: [Wednesday November 25.](http://www.meetup.com/Elm-Copenhagen/events/226381801/)
**Location**:

Proposed schedule:
18.00 - 19.00 : Hands-on intro to Elm and Signals - no experience required (@madsflensted)
19.00 - 20.45 : We team up and work on a given problem and end by sharing and discussing our solutions (group activity)
20.45 - 21.00 : Li

[2015-10-28 22:38] madsflensted commented on #1
Thank you all for a great first meeting. A special thanks to @jacobat and Zendesk - couldn't have dreamed of a better venue for this!

@naxoc that would be great! If we go for "last Wednesday of the month" - then maybe it could be at Information for the January 27th one?

The November Meetup is open for input here [#4].

[2015-10-28 22:52] madsflensted commented on #1
I have pushed my attempt at a solution to the [Yatzy Scorer challenge](https://github.com/jacobat/elm-yatzy).

If you finished some of work then consider forking and pushing the repository with your solution - so others can learn from your way of approaching the problem.

You can see all forks [here](https://github.com/jacobat/elm-yatzy/network).

[2015-10-28 22:52] #1 closed, assigned to nobody

[2015-10-29 09:36] cyberglot commented on #3
My initial idea was:

[code]

But it's more Denmark-y than CPH-y. Let's iterate. :smile:

[2015-10-29 12:34] cem2ran commented on #3
For the people who can't read SVG :)

![elm](https://cloud.githubusercontent.com/assets/959142/10818400/89d2ff70-7e41-11e5-88c9-b7a61937ab8f.png)

[2015-10-29 12:52] cyberglot commented on #3
Thanks, I don't have any image editor installed here.

[2015-10-29 14:29] madsflensted commented on #3
Hi Ju,

This is a great idea 😊

What do think about using different shades of red to symbolize that we meet
in Denmark,  but come from all over the place?

Thanks, I don't have any image editor installed here.

—
Reply to this email directly or view it on GitHub
https://github.com/elmcph/elmcph/issues/3#issuecomment-152169869.

[2015-10-29 14:31] madsflensted commented on #3
Or use a picture of clock on the town hall,  instead of the red? Like a
clock puzzle

Just brainstorming, have no idea how that could be done in svg.
On Oct 29, 2015 15:29, "Mads Flensted-Urech" mads@flensted-urech.dk wrote:

[2015-10-29 14:37] gausby commented on #3
And for you<sup>1</sup> who are better at reading elm than svg…

[code]

---

<sup>1</sup> Certainly not me; I just took [this example](https://github.com/evancz/elm-svg/blob/master/examples/Logo.elm), made it compile in the elm version try uses, and changed the colors.

[2015-10-29 14:44] madsflensted commented on #3
👍
On Oct 29, 2015 15:37, "Martin Gausby" notifications@github.com wrote:

[2015-10-29 21:27] lehoff commented on #1
I have written a bit about my Yatzy score solution @ http://beamster.org/yatzy-pattern-elm.html

[2015-10-29 22:06] madsflensted commented on #1
@lehoff thanks for sharing your you sugar-shocked-brain-dump about that Yatzy problem - very nice solution! Pattern matching really makes things easy to understand (once you get to the point where you can actually use it :-)

[2015-10-29 22:07] madsflensted commented on #1
@knikel  - sorry you missed it. I hope you make it to round 2 [#4]

[2015-10-30 09:31] cyberglot commented on #4
I am porting a Delaunay Triangulation to Elm, hopefully I can get it done by November 25 and maybe I can demo it :smile:

[2015-10-30 10:23] madsflensted commented on #4
Ju, that would make a great demo! Looking forward to it
On Oct 30, 2015 10:31, "Ju Gonçalves" notifications@github.com wrote:

[2015-11-10 21:36] madsflensted commented on #3
Ok - tried to change the opacity of the elements, following a long the lines of the original elm-lang logo. I have uploaded it to our github account and placed the [code here](https://gist.github.com/madsflensted/6ffa8d5ae4acb0921778)

Don't hold back if you have improvements or better ideas.

[2015-11-16 20:23] #3 closed, assigned to nobody

[2015-11-19 20:49] madsflensted commented on #4
ok @lehoff, the Yatzy dice roller is actually a pretty good exercise, almost ready with that one.

[2015-11-26 07:35] madsflensted commented on #4
Thank you all for showing up!
If you missed it - you can find the slides and exercises here: http://madsflensted.github.io/elm-cph-signals/
Thanks to @mktange for adding arrow key support to the slideshow!

[2015-11-26 07:35] #4 closed, assigned to nobody

[2015-11-26 07:37] madsflensted opened #5 "Elm Copenhagen January 2016 Meetup"
Elm Copenhagen January 2016 Meetup

**Date and time**: Wednesday January 27.
**Location**:

Schedule: 18.00 - 21.00

We team up and work on the [Elm Architecture](https://github.com/evancz/elm-architecture-tutorial/)

For beginners, simply work your way through the tutorial.

If you want more of a challenge, just replace the counters and animating gif's with some other UI components and interactio

[2015-11-26 07:38] madsflensted commented on #5
@naxoc do you think it would be possible for Information to host this event?

[2015-11-26 09:16] naxoc commented on #5
@madsflensted I'm sorry, but the canteen is booked that day already. Next meetup!

[2015-11-27 06:25] madsflensted commented on #5
@naxoc absolutely! Thanks for checking.

[2015-12-17 10:50] valberg commented on #5
@madsflensted I could check with PROSA?

[2015-12-17 12:21] madsflensted commented on #5
Víðir : that would be great - can you?

On Thu, Dec 17, 2015 at 11:50 AM, Víðir Valberg Guðmundsson <
notifications@github.com> wrote:

[2015-12-17 13:03] valberg commented on #5
So apparently both the big rooms are booked that day - one of them could become vacant, we'll know for sure after the holidays.

There is the option of moving to the 28th where there is plenty of room?

@madsflensted

[2015-12-17 14:17] madsflensted commented on #5
Not so good at my end - what about 26th?

[2015-12-17 18:07] valberg commented on #5
@madsflensted I'll check - will get an answer tomorrow :smile:

[2015-12-18 14:18] valberg commented on #5
@madsflensted It solved itself! We've got PROSA booked for the 27th of January :smiley:

[2015-12-18 14:27] madsflensted commented on #5
That's just great!  thanks for organizing!
On Dec 18, 2015 15:18, "Víðir Valberg Guðmundsson" notifications@github.com
wrote:

[2015-12-18 14:34] valberg commented on #5
@madsflensted My pleasure! Looking forward to it! ☺️

[2015-12-18 14:49] madsflensted commented on #5
Yes, me too. Seems about long ways away...  😊
On Dec 18, 2015 3:34 PM, "Víðir Valberg Guðmundsson" <
notifications@github.com> wrote:

[2016-01-03 18:14] jacobat commented on #5
I didn't find this on meetup.com - is it the secret meetup? ;-)

[2016-01-03 19:05] madsflensted commented on #5
It's probably a good time to announce it there. Wanted to wait until after
New years
:-)
On Jan 3, 2016 19:14, "Jacob Atzen" notifications@github.com wrote:

[2016-01-03 19:19] madsflensted commented on #5
Was thinking that we should have the (some of the) [Elm Architecture](https://github.com/evancz/elm-architecture-tutorial/) as a subject. Maybe people could bring and work on their own web app idea based on that.  Any thoughts?

[2016-01-27 17:32] madsflensted commented on #5
If you need to test some json decoding:
http://simonh1000.github.io/decoder.html

[2016-01-27 20:30] madsflensted commented on #5
Thanks @valberg and Prosa for hosting this evening of Elm hacking - as always in good company!

[2016-01-27 20:30] #5 closed, assigned to nobody

[2016-01-27 20:33] madsflensted opened #6 "Elm Copenhagen March 2016 Meetup"
Elm Copenhagen March 2016 Meetup

**Date**: Tuesday March 1.
**Time**: 18.00 - 21.00
**Location**:

We team up and work on the a common problem/area
- The Elm Architecture, HTTP requests and JSON decoding.

---

We need to find and decide upon:
- [x] a venue
- [x] a date
- [x] a time
- [x] a problem for the collaborative session

[2016-01-27 20:34] madsflensted commented on #6
@valberg could you check for venue?

[2016-01-27 21:59] madsflensted commented on #6
or @naxoc - maybe at Information?

[2016-01-28 08:43] naxoc commented on #6
@madsflensted Our canteen is taken that day (again!). But we have a smaller room. How many people show up normally? I haven't been to the last two meetups.

[2016-01-28 08:53] madsflensted commented on #6
Yesterday we were about 10 people. And in December about 15.
On Jan 28, 2016 09:43, "Camilla Krag Jensen" notifications@github.com
wrote:

[2016-01-28 08:57] naxoc commented on #6
OK, I think we can fit if we are no more than 15-18 people. Should we book the room or should we wait and see if a better option comes up?

[2016-01-28 10:31] madsflensted commented on #6
I think that would be great, if it is OK with you.

@valberg also offered to check,  but maybe that could be for the April
event.

OK, I think we can fit if we are no more than 15-18 people. Should we book
the room or should we wait and see if a better option comes up?

—
Reply to this email directly or view it on GitHub
https://github.com/elmcph/elmcph/issues/6#issuecomment-176068319.

[2016-01-28 10:33] valberg commented on #6
@madsflensted We can also do it at ShopGun, I might need to coordinate with the cleaning. Otherwise Information sounds like fun - we can always use ShopGun another time! cc/ @naxoc

[2016-01-28 10:35] valberg commented on #6
@madsflensted Hah! Race condition 😜 But yeah lets say ShopGun for the April meetup :+1:

[2016-01-28 13:03] naxoc commented on #6
Cool! I'll book the room. I'm afraid we can't provide food. Can we just ask people to bring food or any suggestions for that?

[2016-01-28 14:17] madsflensted commented on #6
Yes let's improvise on that. I can bring some snacks.
On Jan 28, 2016 14:03, "Camilla Krag Jensen" notifications@github.com
wrote:

[2016-01-28 14:21] naxoc commented on #6
Sweet. I booked the room. The address is:
Store Kongensgade 40C
1264 KBH K

It is in Skt. Annæ Passage - and it can be a little tricky to find.

[2016-01-28 15:05] madsflensted commented on #6
Super.

Do you think you make a small map extract to show how to find the correct
door? Or a description.

In the Elixir group we have experienced problems with hard to find places
On Jan 28, 2016 15:21, "Camilla Krag Jensen" notifications@github.com
wrote:

[2016-01-28 15:08] naxoc commented on #6
Absolutely. Here is a map:
![Map](https://www.evernote.com/l/AAg4Y7HN2IRFcLGR6UGY-NdrD1ga6LgKcL4B/image.png)

The pink line is Skt. Annæ Passage. Go in from either Bredgade or Store Kongensgade.
I'll put up some signs by the door on the day.

[2016-01-29 07:15] madsflensted commented on #6
@naxoc absolutely perfect - looking forward to it.

I have updated the description.
Will announce on Meetup over the weekend.

[2016-02-26 07:02] madsflensted commented on #6
I am currently trying to put together a small Battleships game backend, that I thought we could use for working with HTTP requests and JSON decoding in The Elm Architecture.
Let's see if I get it finished in time

[2016-03-01 17:19] madsflensted commented on #6
Battleships server http://178.62.254.16:9999/

[2016-03-01 20:10] lorenzo commented on #6
My fork https://github.com/lorenzo/battleships-client

[2016-03-02 20:19] madsflensted commented on #6
@naxoc Thank you for hosting this months meetup - it was actually a great place to be!

[2016-03-02 20:19] #6 closed, assigned to nobody

[2016-03-03 08:33] naxoc commented on #6
:smile:

[2016-03-24 17:20] madsflensted opened #7 "Elm Copenhagen April 2016 Meetup"
Elm Copenhagen April 2016 Meetup

**Date**: April 27th
**Time**: 18.00 - 21.00
**Location**:

If somebody wants to present something Elm'ish that they have worked on or are interested in - we will kick off with that, taking at most 15 minutes.. Afterwards everybody can work on the area that interests them the most and team up with others top get help or just share problems and progress.

We need t

[2016-03-24 17:23] madsflensted commented on #7
@valberg is it still an option for ShopGun to host? We are targeting a Tuesday or Wednesday later in the month, so 12./13., 19./20. or 26./27.

[2016-03-24 17:26] madsflensted commented on #7
@cem2ran would you be interested in preparing intro and example to work on relating to the Elm React Native that you mentioned on our last meeting?

[2016-03-24 18:05] lorenzo commented on #7
I cannot participate on the 19./20. so I prefer the other options if possible at all :)

[2016-04-01 06:38] madsflensted commented on #7
@valberg did you get a chance to check the availability?

[2016-04-01 06:53] cem2ran commented on #7
@madsflensted sorry for the late reply. Been on vacation. @elm-native-ui is still very experimental and has undergone some change recently. Let me just check if I can create a boilerplate project we can work on as I don't think it's even viable to setup a project in the timeframe of a meetup for some. Will get back later today.

[2016-04-01 06:55] valberg commented on #7
@madsflensted sure, both 12th or 27th are available (I can't the other days :smile:) - sorry for the late answer

[2016-04-01 06:58] madsflensted commented on #7
@cem2ran do you think it would be better with a presentation? it sounds like it could be interesting to see/hear about.

[2016-04-01 06:59] madsflensted commented on #7
@valberg @cem2ran would the 27th work for both of you?

[2016-04-01 08:59] valberg commented on #7
:ok_hand: from here! And a presentation would be awesome! :clap:

[2016-04-05 16:25] valberg commented on #7
btw. http://tech.noredink.com/post/142283641812/designing-meetups-to-build-better-communities by Evan Czaplicki :)

[2016-04-05 19:43] madsflensted commented on #7
Yes - thats some good input. The practical format of both Elixir and Elm Copenhagen meetups come from Evan's original switch, but this post is more detailed than earlier info.

I like the idea of having people work on different things, leaving more room for different interactions.

[2016-04-05 19:44] madsflensted commented on #7
@cem2ran (not to stalk you on this one) - would it be better if we asked you to do a 10-15 min demo of using Elm with React Native? And then people can work on what ever they think is is interesting after that.

[2016-04-06 11:25] valberg commented on #7
@madsflensted can you update the date and location to 27th of April and ShopGun? :smile:

[2016-04-06 16:19] cem2ran commented on #7
I could do that, no problem! But it's unclear if I'm even in DK on the 27th, awaiting a reply from elsewhere. I am here on the 26th.

[2016-04-06 20:09] madsflensted commented on #7
@valberg it is done. Looking forward to being back at ShopGun.
I also think it would be fun to try having the format a bit like the SF one - so let's see how that goes. I will send out invites on Meetup later.

[2016-04-06 20:11] madsflensted commented on #7
@cem2ran I hope you can make it, since our host can't make it the 26th I suggest we stay with the 27th. If you need to travel, we will look forward to your demo at following event!

[2016-04-08 05:57] madsflensted opened #8 "Elm Copenhagen May 2016 Meetup"
Elm Copenhagen May 2016 Meetup

**Date**: Thursday May 26th
**Time**: 18.00 - 21.00
**Location**:

Location is just next to Sorgenfri S-train Station, and you can reach that by taking the A-line towards Hillerød.

If somebody wants to present something Elm'ish, maybe something that they have been working on or have been looking at - we will kick off with that, taking at most 15 minutes. Afterwards

[2016-04-08 05:59] madsflensted commented on #8
@gentauro let's try to find some dates where Delegate and you can attend, preferably late May.

[2016-04-19 20:15] madsflensted commented on #7
(continued from twitter)
@halfzebra we use Github to organize the upcoming meetings. This is the thread for the April one, but if it is better for you there is also the thread for the [May one](#8)

[2016-04-28 05:48] madsflensted commented on #7
Thank you @valberg and Shopgun for hosting this event. You have a really great place for this!
Hope to see you all in May #8

[2016-04-28 05:48] #7 closed, assigned to nobody

[2016-05-09 05:42] ghost commented on #8
Hi @madsflensted

As I can see we can choose between the Wednesday the 25th or Thursday the 26th. Our address is:

Delegate A/S
Hummeltoftevej 49
2830 Virum

Depending on how many we are, we will use our big meeting room or the canteen.

[2016-05-09 06:09] madsflensted commented on #8
Ok. Because of overlap with this conference http://www.atthefrontend.dk/,
it is probably better to go with 26.
On May 9, 2016 7:42 AM, "Ramón Soto Mathiesen" notifications@github.com
wrote:

[2016-05-09 16:33] ghost commented on #8
Fine with me. Thursday 26th it is :)

[2016-05-09 19:10] madsflensted commented on #8
@gentauro  will Delegate be able to sponser something to drink/eat/snacks?

If not we talked about organizing some fast-food on the spot, with everybody chipping in.

[2016-05-09 19:13] ghost commented on #8
We have bunch of beers and I guess we will also have some sodas. Snacks should also be possible and we have a "very fast" Pizza place (the only one in Virum). They are great and they can make in big numbers :)

I will speak with HR tomorrow to see what we can do.

[2016-05-13 07:54] madsflensted commented on #8
@gentauro did you have s chat with HR?
On May 9, 2016 9:13 PM, "Ramón Soto Mathiesen" notifications@github.com
wrote:

[2016-05-13 16:38] ghost commented on #8
Sorry, I've been to busy.

No matter what, there will be food (either paid by us or by DG) :)

[2016-05-13 16:41] ghost commented on #8
Btw, could you update the Meetup. There are a lot from DG that after an Angular 2 course we have held at the HQ, that would like to hear more about Elm.

Do we have an official speaker?

(I'm trying to convince a fellow DIKU that uses https://github.com/mattjbray/servant-elm)

[2016-05-13 19:42] madsflensted commented on #8
I agree, and will announce on Meetup tonight.

If your "DIKU fellow" could introduce that library/tool in the intro time slot (approx 15 min) - that would be great!

[2016-05-13 20:04] madsflensted opened #9 "Elm Copenhagen June 2016 Meetup"
Elm Copenhagen June 2016 Meetup

**Date**: Tuseday June 21.
**Time**: 18.00 - 21.00
**Location**:

If somebody wants to present something Elm'ish, maybe something that they have been working on or have been looking at - we will kick off with that, taking at most 15 minutes. Afterwards everybody can work on the area that they find most interesting and team up with others to get help or just share p

[2016-05-13 20:04] madsflensted commented on #9
@halfzebra - just planning ahead. Would you and Dinero be willing to host a meetup in June?

[2016-05-19 13:14] ghost commented on #8
My DIKU fellow can't do the short intro :\

[2016-05-26 07:54] maacl commented on #8
Is there an agenda for the meetup?

[2016-05-26 08:05] madsflensted commented on #8
Hi Martin,

The meetup is hands on, and content driven by what the attendees want to
work on.
On May 26, 2016 09:54, "Martin Clausen" notifications@github.com wrote:

[2016-05-26 08:10] maacl commented on #8
Great, thanks.

On Thu, May 26, 2016 at 10:06 AM Mads Flensted-Urech <
notifications@github.com> wrote:

[2016-05-27 06:08] madsflensted commented on #8
Thank you all for joining and @gentauro and Delegate for hosting! Hope to see you all next month, which is being planned on issue #9

[2016-05-27 06:08] #8 closed, assigned to nobody

[2016-05-27 07:51] gausby commented on #8
…and thank you Pragma for sponsoring pizza.

[2016-05-30 08:30] halfzebra commented on #9
@madsflensted Dinero will host the next meetup and provide some food (pizza or sandwiches)

We're considering 21th or 22th of June for the meetup.

Please elaborate.

[2016-05-30 20:33] madsflensted commented on #9
@halfzebra that is perfect. I have updated the basics - lets give it a day to see if somebody has a preference.

[2016-06-01 20:07] madsflensted commented on #9
@halfzebra so should we settle on of the days? I would suggest Tuesday June 21.

[2016-06-01 20:55] halfzebra commented on #9
@madsflensted sounds good to me.

[2016-06-06 06:24] madsflensted commented on #9
Ok - date is set and I have announced on Meetup

[2016-09-13 09:33] madsflensted opened #10 "Elm Copenhagen September 2016 Meetup"

[2016-09-13 12:22] #9 closed, assigned to nobody

[2016-09-13 12:22] #10 closed, assigned to nobody

[2016-09-13 12:23] madsflensted opened #11 "Elm Copenhagen September 2016 Meetup"
Elm Copenhagen September 2016 Meetup

**Date**: September 29
**Time**: 18.00 - 21.00
**Location**:

@halfzebra willl give an introduction to how you can quick start an elm project.

Afterwards everybody can work on the area that they find most interesting and team up with others to get help or just share problems and progress.

---

We need to find and decide upon:
- [x] a venue
- [x] a date
- [x]

[2016-09-13 12:37] madsflensted commented on #11
@lorenzo @naruvimama let's plan from here

[2016-09-13 15:09] lorenzo commented on #11
We can host the meetup at Bownty. End of September would be perfect for us.

[2016-09-13 22:42] madsflensted commented on #11
That sounds great. Any preference for 26 - 29?

On Sep 13, 2016 23:09, "José Lorenzo Rodríguez" notifications@github.com
wrote:

[2016-09-14 07:11] lorenzo commented on #11
The 29th

[2016-09-14 09:51] madsflensted commented on #11
great - updated issue.
Do you have an address and map link?

[2016-09-14 09:53] madsflensted commented on #11
@lorenzo and @halfzebra any of you up for giving an introduction to Elm for begginers? like 1/2 hour?

[2016-09-14 10:47] lorenzo commented on #11
@madsflensted Vimmelskaftet 43 2.

https://www.google.dk/maps/place/Vimmelskaftet+43,+1161+K%C3%B8benhavn+K/@55.678579,12.5729543,17z/data=!3m1!4b1!4m5!3m4!1s0x4652531103d58fcb:0x21e0411330605e59!8m2!3d55.678576!4d12.575143?hl=en

Small nitpick, it is "Bownty" and not "Bounty". Bounty would be tastier, though 🍫

[2016-09-14 12:46] madsflensted commented on #11
@lorenzo ha yes maybe it would.

[2016-09-14 13:13] madsflensted commented on #11
Ok announced on Meetup

[2016-09-15 14:17] ghost commented on #11
I would love to come but it collides with the Faculty of Computer Science, Copenhagen University (DIKU) alumni day :(
- [DIKU Alumnedag 2016](http://diku.dk/begivenhedsmappe/begivenheder-2016/diku-alumnedag/)

I'll guess I see you at the October Meetup :+1:

[2016-09-18 14:42] madsflensted commented on #11
@gentauro I hope you enjoy the alumni day.

[2016-09-22 22:00] halfzebra commented on #11
@madsflensted I can give a little intro for newcomers(around 15-20 minutes) about quick-starting with Elm, if the time is still available.

Please let me know, thank you!

[2016-09-23 08:25] lorenzo commented on #11
@halfzebra I think that would be great, and as far as I know the speaking spot is still available :)

[2016-09-23 13:45] ghost commented on #11
A few Elm people are coming to CPH due to GOTO: @coreyhaines, @luke (from https://elmlang.slack.com/) and @niels and myself are going for a beer on 2016-10-02 @ Nyhavn.

@madsflensted, could you create an ad-hoc event for this? And please join to meet people IRL :) (also on Slack)

[2016-09-23 14:00] madsflensted commented on #11
@halfzebra that would be awesome. I  have updated description here and will send out an update on Meetup + twitter.

[2016-09-23 14:14] madsflensted commented on #11
@gentauro absolutely, great idea, will get that out over the weekend.

[2016-09-23 16:16] ghost commented on #11
@coreyhaines says he will confirm as it's not 100%, so we will hold or horses until he finally confirms :)

[2016-10-01 04:03] madsflensted commented on #11
@lorenzo thank you for organizing this. Did anybody show up that could be a potential host for the next one?

[2016-10-01 04:12] coreyhaines commented on #11
Hey, all. I chatted with Luke, and I think we'll be up for hanging out.

On Sep 30, 2016 11:03 PM, "Mads Flensted-Urech" notifications@github.com
wrote:

[2016-10-01 04:15] #11 closed, assigned to nobody

[2016-10-01 04:18] madsflensted opened #12 "Elm Copenhagen pre-GOTO hang out"
Elm Copenhagen pre-GOTO Beers

**Date**: October 2 2016
**Time**: 19.00 - ??
**Location**:

[2016-10-01 04:20] madsflensted commented on #12
@gentauro @coreyhaines
You can organize the event here and I will put on Meetup/Twitter when you have the details down.

[2016-10-01 04:20] madsflensted commented on #11
@coreyhaines excellent, you can organize on this issue #12

[2016-10-01 08:59] ghost commented on #12
@madsflensted cool.

I would say that I can go for 1-2 beers (at most) :)

We can meet @ Nyhavn tomorrow (2016-10-02). What time would suit you best @coreyhaines?

[2016-10-01 10:42] nsb commented on #12
I said I would be there, but I'm down with the flu.

Den lør. 1. okt. 2016 10.59 skrev Ramón Soto Mathiesen <
notifications@github.com>:

[2016-10-01 12:56] coreyhaines commented on #12
How about 7pm? We land at 4pm. I'll see Luke today and let him know. Is the
location close to the goto hotel?

On Oct 1, 2016 5:42 AM, "Niels Sandholt Busch" notifications@github.com
wrote:

[2016-10-01 13:06] ghost commented on #12
@nsb sad to hear :(

@coreyhaines It's just 20 minutes (with Metro from the hotel):

https://goo.gl/B9J1DW

[2016-10-01 14:13] madsflensted commented on #12
@gentauro can you add a precise location to meet? E.g. Bar. And then we can
announce it

On Oct 1, 2016 21:06, "Ramón Soto Mathiesen" notifications@github.com
wrote:

[2016-10-01 14:54] coreyhaines commented on #12
Is there any chance of getting it closer to the goto hotel? Would help us
out.

On Oct 1, 2016 9:13 AM, "Mads Flensted-Urech" notifications@github.com
wrote:

[2016-10-01 15:02] ghost commented on #12
@madsflensted http://www.nyhavn17.dk/? (Nyhavn 17, 1051 København K, Danmark)

@coreyhaines you live like out in a small island, where there is nothing besides the congress centre (you will see that as soon as you arrive). It reminds a bit of NDC Londons location compared to London ;) (if you guys have been to that one).

[2016-10-01 15:04] coreyhaines commented on #12
OK.  No worries.

On Oct 1, 2016 10:02 AM, "Ramón Soto Mathiesen" notifications@github.com
wrote:

[2016-10-01 15:42] madsflensted commented on #12
I have announced on Meetup and Twitter. @gentauro I have set you as organizer.

[2016-10-01 15:43] madsflensted commented on #12
so you will get responses

[2016-10-01 15:53] ghost commented on #12
@madsflensted roger :)

@coreyhaines I've just realized that you guys are speakers. I thought you were participants, doh

[2016-10-01 15:58] coreyhaines commented on #12
:) We're Elm lovers. :) @lukewestby is even talking about Elm.

[2016-10-01 16:11] ghost commented on #12
Yeah, I'm just realizing that is "that" luke ;) (I even spoke about how I wanted to see his talk at GOTO) :D

[2016-10-01 16:18] coreyhaines commented on #12
:) He's pretty great.

[2016-10-01 16:29] ghost commented on #12
Yeah, so his talk from the elm-conf. Really looking forward to talk to you guys tomorrow :+1:

[2016-10-02 01:03] lukewestby commented on #12
Y'all are too much 😊

new twitter name

@coreyhaines and I are waiting for our flight across the atlantic to board. can't wait to meet you all!

[2016-10-02 09:39] ghost commented on #12
:D

(btw, it's looks like nobody is joining the pre-event meetup ... :-1:)

[2016-10-02 10:30] gausby commented on #12
I am out of town (at my parents place) but I hope to make it back to Copenhagen in time so I can join this event ^_^

[2016-10-02 15:50] coreyhaines commented on #12
Hey, All,

I need to bail on meeting up. After getting to the hotel after something like 19 or 20 hours travel, I just don't have any more in me. Need to settle in and sleep. I don't know about @luke, but I'm pinging him about getting there. I'm sorry about cancelling, but having trouble just keeping my head clear.

[2016-10-02 16:02] ghost commented on #12
@coreyhaines it's all good man. Jet-lag is not pleasant, we all know that.

Get some rest and be ready for the GOTO conference, I guess I'll catch you on Slack (if I'm able to connect ... for the time it just freezes cos of the many non-viewed unread messages)

p.d.: Lets wait for @lukewestby, if he is tired as well, we might just call it of :)

[2016-10-02 16:03] coreyhaines commented on #12
Thanks for understanding.

[2016-10-02 16:04] lukewestby commented on #12
I'll be there!

[2016-10-02 16:07] ghost commented on #12
![cool_hand_luke](https://cloud.githubusercontent.com/assets/78475/19021868/0e80715a-88cb-11e6-9483-429e0af8b99b.jpg)

[2016-10-02 16:07] ghost commented on #12
sry, "that" Luke :)

[2016-10-02 16:18] lukewestby commented on #12
So since I'm going over by myself and I shaved my beard, this is what I look like right now so it's easier to find me

![photo on 10-2-16 at 6 17 pm 2](https://cloud.githubusercontent.com/assets/1508245/19021919/89a563c6-88cc-11e6-9b91-818c35a65cba.jpg)

[2016-10-02 17:00] ghost commented on #12
It's raining like there is no tomorrow. Never mind, I biked so :)

[2016-10-05 13:57] madsflensted commented on #12
so you will get responses

[2016-10-05 13:57] #12 closed, assigned to nobody

[2016-10-16 11:48] lorenzo opened #13 "Elm Copenhagen October 2016 Meetup"
Elm Copenhagen October 2016 Meetup

**Date**: Wednesday, October 26
**Time**: 18.00 - 21.00
**Location**: Bownty. Vimmelskaffet 43, 2.

If somebody wants to present something Elm'ish, maybe something that they have been working on or have been looking at - we will kick off with that, taking at most 15 minutes. Afterwards everybody can work on the area that they find most interesting and team up wi

[2016-10-16 11:49] lorenzo commented on #13
I'm opening this ticket to start planing again this month's meet up. I'd be glad to host it again at Bownty if needed :)

[2016-10-17 14:32] madsflensted commented on #13
@lorenzo I have made you co-organizer on Meetup, so you can also create the event there if you find a suitable date.

The easiest is to simply set the date, announce it on Meetup and then we can tweet about it as well

[2016-10-17 14:44] lorenzo commented on #13
Great, thanks @madsflensted

[2016-10-18 07:45] lorenzo commented on #13
would Thursday 27 be ok?

[2016-10-18 16:09] ghost commented on #13
Lets move the discussion to here. For me on that week I can all days except those 2 (Tuesday I'm hosting MF#K and on Thursday we have "generalforsamling" where I live) :+1:

[2016-10-18 18:38] lorenzo commented on #13
@gentauro Wednesday?

[2016-10-18 19:06] ghost commented on #13
Fine with me :)

[2016-10-19 08:23] lorenzo commented on #13
@madsflensted Can you please tweet it?

[2016-10-19 08:27] madsflensted commented on #13
@lorenzo absolutely

[2016-10-24 05:08] ghost commented on #13
@lorenzo just to be sure, I have big HDMI (Type A) on my laptop and I don't have any adapters (I switched from Mac to Razer a few months ago). Do I need to purchase some kind of multi-adapater or do you have any at Bownty?

[2016-10-24 06:57] lorenzo commented on #13
I will check and let you know

[2016-10-25 08:22] ghost commented on #13
![elm_talk](https://cloud.githubusercontent.com/assets/78475/19678150/d8520056-9a9c-11e6-9bec-ca24ae8a2647.png)

[2016-10-26 06:42] ghost commented on #13
@lorenzo any news on this one? Should I just go buy a multi- adaptor, just in case? I might be able to buy one in Humac on the way to Bownty.

[2016-10-26 06:57] lorenzo commented on #13
@gentauro i think that might be the best, I could only find here the hdmi connectors MacBook pros use

[2016-10-26 08:20] ghost commented on #13
Roger that

[2016-10-26 21:58] #13 closed, assigned to nobody

[2016-11-04 08:59] halfzebra opened #14 "Elm Copenhagen November 2016 Meetup"
Elm Copenhagen November 2016 Meetup

**Date**: November 21th 2016
**Time**: 17.30 - 20.00
**Location**:

Speakers:
@lorenzo will be speaking "Functional patterns for creating elegant applications in Elm"
@terezka will have a talk about her elm-plot library
@halfzebra if I will have time, I'll give a short intro to elm DevOps tooling

* * *
We need to find and decide upon:

  * [x] a venue
  * [x]

[2016-11-07 00:20] madsflensted commented on #14
@halfzebra I have made you co-organizer on Meetup group. Just set at date and Venue here on GH. Then create an event on Meetup. If you need inspiration/help just let me know.

[2016-11-07 08:23] lorenzo commented on #14
My preferred dates are 21, 23 and 24. I can present par of the talk I'll be doing in øredev

[2016-11-07 08:39] halfzebra commented on #14
@madsflensted awesome! Thank you!
@lorenzo sounds very good, 24th would be the best for me, I'm attending the language school on 21/23 😧

[2016-11-07 14:14] eikooc commented on #14
24th also works for me :smile:

[2016-11-16 18:59] halfzebra commented on #14
@eikooc unfortunately we have to move the date to 21th

@lorenzo @madsflensted I will announce the meetup at meetup.com tomorrow, still have to wait for the final confirmation from FooCafe.

[2016-11-17 15:45] lorenzo commented on #14
@halfzebra did you get confirmation?

[2016-11-18 12:53] halfzebra commented on #14
@lorenzo I'm afraid we have to re-schedule the meetup, still haven't got the confirmation from FooCafe.

Let's schedule a new one for December. I have a couple more venues on my mind, so I'll try to get more options this time. Please hit me with a message if you'll have any suggestions!

[2016-11-18 12:53] #14 closed, assigned to nobody

[2016-11-18 12:56] lorenzo commented on #14
Ok, I think that's wise... there is no need to rush it

[2016-11-19 12:21] peterszerzo opened #15 "Elm Copenhagen December 2016 Meetup"
Elm Copenhagen December 2016 Meetup

**Date**: December 1st, 2016
**Time**: 18.00 - 21.00
**Location**: Airtame, Vestergade 20C (near Rådhuspladsen)

Next year's [Elm-Conf](https://elmeurope.org/) call-for-papers deadline is rapidly approaching, and this meetup could be a great occasion to polish proposals. Maybe we can use some time at the beginning to pitch ideas high-level, show some code - per

[2016-11-19 18:03] lorenzo commented on #15
I'll create the meet up event

[2018-09-20 12:24] #15 closed, assigned to nobody